* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(234, 29%, 20%);
  font-family: "Roboto";
}

.container {
  border-radius: 36px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 24px 32px;
  max-width: 928px;
  overflow: hidden;
}

.container .container-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.container .container-img-tablet {
  display: none;
}

.container .container-img-mobile {
  display: none;
}

.stay-updated-title {
  font-size: 3.5rem;
  color: hsl(234, 29%, 20%);
}

.invitation {
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(234, 29%, 20%);
}

.invitation-features {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feature::before {
  content: url("assets/images/icon-list.svg");
}

.feature {
  display: flex;
  gap: 16px;
  line-height: 1.5;
  color: hsl(234, 29%, 20%);
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.email-message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error-message{
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    color: red;
}

#email.error{
    border: 1px solid red;
    background-color: '#FFE7E6';
    color: red;
}

#email.error::placeholder{
    color: red;
}


label {
  color: hsl(234, 29%, 20%);
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 700;
}

input {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 58%);
}

input::placeholder {
  color: hsl(0, 0%, 58%);
}

.subscribe-submit-button {
  margin-top: 16px;
  background-color: hsl(234, 29%, 20%);
  border: 1px solid hsl(234, 29%, 20%);
  color: white;
  padding: 16px 72px;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.5;
}

.subscribe-submit-button:hover{
    background-image: linear-gradient(to right, #FF6A3A, #FF527B);
    border-image: linear-gradient(to right, #FF6A3A, #FF527B);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 40px;
    /* align-items: center; */
  }

  .container-img {
    display: none;
  }

  .container-img-mobile {
    display: none;
  }

  .container-img-tablet {
    display: block !important;
    width: 100%;
  }

  .container-img-tablet img{
    max-width: 100%;
    display: block;
  }

  .container-text {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .container-img-tablet {
    display: none !important;
  }

  .container-img-mobile {
    display: block !important;
  }

  .container-img-mobile img {
    width: 100%;
  }

  .container {
    border-radius: 0 !important;
    padding: 0;
    gap: 32px;
    margin: 0;
  }

  .container-text {
    padding: 0 20px 36px;
  }

  .stay-updated-title {
    font-size: 2.5rem;
  }

  .subscribe-submit-button{
    font-size: 12px;
  }
}
