* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(234, 29%, 20%);
  font-family: "Roboto";
}

.container {
  border-radius: 36px;
  background-color: white;
  padding: 60px 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 504px;
  overflow: hidden;
}

.thanks-title {
  color: hsl(234, 29%, 20%);
  font-size: 56px;
}

.notification {
  color: hsl(234, 29%, 20%);
  font-size: 1rem;
  line-height: 1.5;
}

.notification span {
  font-weight: 700;
}

.dismiss-button{
    background-color: hsl(234, 29%, 20%);
    color: white;
    border-radius: 8px;
    padding: 16px 64px;
}

@media (max-width: 576px) {
    .container{
        padding: 36px 36px;
    }

    .thanks-title{
        font-size: 40px;
    }
}
